footer{
    width: 80%;
    margin: 100px 10%;
}

.btn_footer {
    position: relative;
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    font-weight: 600;
    padding: 2px 10px;
    margin: 10px auto;
    cursor: pointer;
    transition: all 0.3s;
    color: black;
    text-decoration: none !important;
    font-size: 10px;
    margin-top: 13px;
}

.btn_footer:hover {
    color: white;
    background-color: black;
    box-shadow: 4px 4px 15px rgb(83, 80, 80);
}

#left{
    text-align: left;
}

#right{
    text-align: right;
}