header{
    font-size: 100%;
    margin: 100px 15% 150px 15%;
    text-align: center;
    /* width: 100%; */
}

header p{
    font-size: 30px;
    margin: 50px auto;
    color: black;
}

.sixtag{
    margin-top: 70px;
}


.sixtag a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 300;
}

.sixtag a:hover{
    opacity: 0.7;
}

#home{
    border-right: 1px solid black;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 50px;
}

#consept{
    border-right: 1px solid black;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 50px;
}

#works{
    border-right: 1px solid black;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 50px;
}

#seminar{
    border-right: 1px solid black;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 50px;
}

#member{
    border-right: 1px solid black;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 50px;
    
}

#contact{
    padding: 10px 20px;
    display: inline-block;
    margin-top: 50px;
}


@media (min-width:419px) and (max-width:568px) {
    #works{
        border-right: none;
    }
}

@media screen and (max-width:418px){
    #works{
        border-right: 1px solid black;
    }
    #contact{
        border-right: 1px solid black;
    }
}