@import "reset.css";

html{
    font-size:100%;
}

body{
    color:#24292e;
    animation: fadeIn 3s ease 0s 1 normal;
    font-family: 'Noto Serif JP', serif;
}

a{
    text-decoration: none;
    color: black;
}


@keyframes fadeIn { 

  0% {opacity: 0} 

  100% {opacity: 1} 

}


.wrapper{
    width: 70%;
    margin: auto 15%;
}

.text{
    text-align: center;
}

h1{
    margin-top: 25px;
    font-size: 25px;
}

h2{
    font-size: 15px;
    opacity: 0.7;
    margin-bottom: 50px;
    margin-top: 5px;
}

p{
    width: 80%;
    margin: auto 10%;
    line-height: 24px;
    opacity: 0.88;
    margin-bottom: 50px;
}

.img{
    text-align: center;
    width:70%;
    margin: auto 15%;
}

#top{
    margin-bottom: 150px;
}


@media screen and (max-width:1050px) {

    body{
        width: 100%;
        margin: auto 0;
        color:#24292e;
        animation: fadeIn 3s ease 0s 1 normal;
        font-family: 'Noto Serif JP', serif;
    }

    .wrapper{
        width: 100%;
        margin:0;
    }

    .text{
        width: 100%;
    }


    #top{
        margin-top: 80px;
    }

    .img{
        width: 80%;
        margin: auto 10%;
    }

    #bottom{
        margin-bottom:70px;
    }
}