@import "reset.css";

html{
    font-size:100%;
}

body{
    color:#24292e;
    animation: fadeIn 3s ease 0s 1 normal;
    font-family: 'Noto Serif JP', serif;
}

a{
    text-decoration: none;
    color: black;
}


@keyframes fadeIn { 

  0% {opacity: 0} 

  100% {opacity: 1} 
  
}

header img{
    width: 6%;
    height: auto;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.wrapper{
    width: 50%;
    margin: 0 25%;
    text-align: center;
}

.top{
    padding-top: 60px;
    padding-bottom: 115px;
}

#number{
    padding-bottom: 20px;
    opacity: 0.7;
}

#title{
    padding-bottom: 20px;
    font-size: 24px;
}

mainvisual p{
    text-align: center;
    margin-bottom: 20px;
    font-size: 17px;
    opacity: 0.8;
}

mainvisual img{
    width: 70%;
    max-width:1920px;
    height: auto;
    object-fit: cover;
    margin: auto 15%;
}

.data{
    margin-top: 100px;
    margin-bottom: 50px;
}

.data p{
    padding-bottom: 20px;
    opacity: 0.8;
}

#text{
    width: 70%;
    margin: 0 15%;
    text-align: center;
    line-height: 25px;
}

#place{
    margin-top: 30px;
    line-height: 25px;
    margin-bottom: 100px;
}

#gallery{
    font-size: 34px;
    opacity: 1;
}

.photo{
    width: 80%;
    margin: 0 10%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 120px;
}

.photo img{
    width: 33%;
}

.btn {
    position: relative;
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    font-weight: 600;
    padding:2px 10px;
    margin: 10px auto;
    cursor: pointer;
    transition: all 0.3s;
    color: black;
    text-decoration: none !important;
    font-size: 10px;
    margin-top: 13px;
  }

  .btn:hover{
    color:white;
    background-color: black;
    box-shadow: 4px 4px 15px rgb(83, 80, 80);
  }

  .btnn {
    position: relative;
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    font-weight: 600;
    padding:5px 15px;
    margin: 10px auto;
    cursor: pointer;
    transition: all 0.3s;
    color: black;
    text-decoration: none !important;
    font-size: 10px;
    margin-top: 13px;
  }

  .btnn:hover{
    color:white;
    background-color: black;
    box-shadow: 4px 4px 15px rgb(83, 80, 80);
  }

@media screen and (max-width:740px) {

    header img{
        width: 10%;
        height: auto;
        position: fixed;
        top: 32px;
        left: 20px;
        z-index: 10;
    }    

    .data{
        margin-top: 70px;
        margin-bottom: 64px;
    }

    .photo{
        width: 90%;
        margin: auto 5% 70px 5%;
    }

}



