@import "reset.css";

html{
    font-size:100%;
}

body{
    color:#24292e;
    animation: fadeIn 3s ease 0s 1 normal;
    font-family: 'Noto Serif JP', serif;
}

a{
    text-decoration: none;
    color: black;
}

/* #tt{
    border: 1px solid black;
}

#tt:hover{
    border: none;
} */


@keyframes fadeIn { 

  0% {opacity: 0} 

  100% {opacity: 1} 

}

header img{
    width: 6%;
    height: auto;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.works{
    width: 100%;
}

.site-title-works{
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    font-family: 'Sylfaen';
    margin-top: 34px;
    font-size: 26px;
}

.content{
    width: 100%;
    margin-top:40px;
}

.content:hover{
    background-color:rgba(131, 131, 131, 0.2);
}

.number{
    font-size: 18.5px;
    padding-top:40px;
    opacity: 0.8;
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    text-align: center;
}

.content-title{
    width: 100%;
    max-width: 760px;
    margin: 8.5px auto 0 auto;
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
}

p{
    width: 100%;
    max-width: 760px;
    margin: 0px auto;
    font-size: 13px;
}

.photo{
    width: 100%;
    max-width: 760px;
    margin: 0px auto;
    padding-top: 20px
}

img{
    width: 33.3333333333333%;
    padding-bottom: 20px;
}


@media screen and (max-width:960px){

    header img{
        width: 10%;
        height: auto;
        position: fixed;
        top: 32px;
        left: 20px;
        z-index: 10;
    }    
    
}

@media screen and (max-width:760px) {

    .site-title-works{
        padding-bottom:40px;
    }

    .content-title{
        width: 91%;
    }
    
    p{
        width: 91%;
    } 

}